* {
    margin: 0%;
    padding: 0%;
    font-family: var(--game-font);
    outline: none;
}

@font-face {
    font-family: "Press Start 2P";
    src: url(./fonts/PressStart2P-Regular.ttf);
}

:root {
    --game-font: 'Press Start 2P', cursive;
    --text: rgba(155, 155, 155, 1);
}

body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #171c22;
    box-sizing: border-box;
}

#input-getter {
    position: relative;
}

#hint {
    position: absolute;
    bottom: 150%;
    width: 100%;
    background-color: #25292C;
    padding: 0.5em;
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: none;
}

#inputHolder {
    text-transform: uppercase;
}

#hint-message {
    color: white;
    font-family: var(--game-font);
    font-size: 3rem;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}

#hint.active {
    display: flex;
}

.blinktext {
    -webkit-animation: blink-text 800ms linear infinite;
    -moz-animation: blink-text 800ms linear infinite;
    -ms-animation: blink-text 800ms linear infinite;
    -o-animation: blink-text 800ms linear infinite;
    animation: blink-text 1000ms linear infinite;
}

@keyframes blink-text {
    0% {
        color: black;
        opacity: 1;
    }
    20% {
        color: black;
        opacity: .8;
    }
    30% {
        color: black;
        opacity: .6;
    }
    40% {
        color: black;
        opacity: .4;
    }
    50% {
        color: black;
        opacity: .2;
    }
    60% {
        color: black;
        opacity: 0;
    }
    70% {
        color: black;
        opacity: .2;
    }
    80% {
        color: black;
        opacity: .4;
    }
    90% {
        color: black;
        opacity: .6;
    }
    98% {
        color: black;
        opacity: .8;
    }
    100% {
        color: black;
        opacity: 1;
    }
}

.toast-message {
    font-family: var(--game-font);
    font-size: 3rem;
    background-color: #25292C;
    color: white;
    padding: 0.5em;
    position: absolute;
    z-index: 2;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition: 500ms ease-in-out;
}

.toast-message.active {
    top: 2%;
}

.menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #25292C;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
}

.menu.active {
    opacity: 1;
    visibility: visible;
}

.title {
    font-size: 15rem;
    color: white;
}

.menu-options {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 5rem;
}

.start {
    color: white;
    cursor: pointer;
}

.author {
    font-size: 2rem;
    color: white;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 1em;
}

.prompt {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #25292C;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
}

.prompt.active {
    opacity: 1;
    visibility: visible;
}

.prompt p {
    font-size: 5rem;
    background-color: #1d2124;
    color: white;
    padding: 0.5em;
    font-family: var(--game-font);
}

.option {
    font-family: var(--game-font);
    background-color: #1d2124;
    color: white;
    padding: 0.5em;
    cursor: pointer;
}

.prompt-options {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 5rem;
}

.error {
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    z-index: 2;
    visibility: hidden;
    transition: 500ms;
}

.error.active {
    opacity: 1;
    visibility: visible;
}

.error-message {
    font-family: var(--game-font);
    font-size: 5rem;
    color: white;
    width: fit-content;
    background-color: #25292C;
    padding: 0.5em;
}

.array-container {
    height: 80%;
    position: absolute;
    top: 0%;
    margin-left: 9rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.array {
    background-color: #757b804e;
    padding: 0.5em;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 2.5em;
}

.box {
    background-color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    color: white;
    font-family: var(--game-font);
    font-size: 3rem;
}

.legend {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 1em;
}

.legend-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.color {
    width: 2rem;
    height: 2rem;
}

.legend-name {
    color: white;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

.controls {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 20%;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background: #25292C;
    color: white;
    font-family: var(--game-font);
    font-size: 3rem;
    padding: 0.5em;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

.button:before {
    content: "";
    width: 340px;
    top: -1rem;
    left: -1rem;
    height: 110px;
    background: #757b804e;
    position: absolute;
    z-index: -1;
}

.button:nth-of-type(2):before {
    width: 100px;
}

.button:nth-of-type(2):after {
    content: "";
    width: 100px;
    top: 1rem;
    right: -1rem;
    height: 110px;
    background: #757b804e;
    position: absolute;
    z-index: -1;
}

.button:nth-of-type(3):before {
    top: 0.6rem;
    left: 0.7rem
}

.button:last-of-type:before {
    width: 200px;
    top: 0.6rem;
}

svg {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    pointer-events: none;
}

.reset {
    background-color: #757b804e;
    padding: 0.5em 0.8em;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 1.45em;
    cursor: pointer;
}

.game-input,
.menu-input {
    font-size: 3rem;
    background-color: inherit;
    width: 480px;
    color: white;
    font-family: var(--game-font);
    border: none;
    border-bottom: white;
}

.menu-input {
    width: 700px;
    background-color: #171c22;
    padding: 0.5em;
}


/* .menu-input:before {
    content: "Add a size before playing";
    top: -1rem;
    width: 500px;
    height: 500px;
    left: -1rem;
} */